venv
__pycache__
*.pyc
.DS_Store
.env
.idea
.vscode
logs/
*.log
dist/
build/
*.egg-info/
coverage
htmlcov/
.tox
pytest_cache/
uploads/*
app.db
faiss.index
documents.json
faiss_meta.json
*.sqlite3
*.db
*.sqlite
*.pem
*.zip
data
